# evitar listado de directorios
Options -MultiViews
Options All -Indexes
IndexIgnore *

<IfModule mod_rewrite.c>
        RewriteEngine On
        # RewriteBase /
        RewriteCond %{REQUEST_FILENAME} !-f
        RewriteRule ^ index.php [QSA,L]
</IfModule>